:root{
	--w: rgba(255,255,255, 1);
	--g1: rgba(58, 58, 58, 1);
	--g2: rgba(97, 97, 97, 1);
	--g3: rgba(137, 137, 137, 1);
	--g4: rgba(176, 176, 176, 1);
	--g5: rgba(216, 216, 216, 1);
	--g-bg: rgba(244, 245, 247, 1);
	--prim: rgba(232, 159, 113, 1);
	--acc1: rgba(46, 193, 172, 1);
	--acc2: rgba(233, 113, 113, 1);

	--p-lg: 32px;
	--p-md: 24px;
	--p-sm: 16px;
}

html{
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: var(--g1);
}

.material-icons{
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
	color: var(--g1);
 }

 .material-icons-outlined{
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
	color: var(--g1);
 }

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}

img{
	vertical-align: unset;
	max-width: none;
}

ul, p{
	padding: 0;
	margin: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
}

h1{
	font-weight: 600;
	font-size: 56px;
	line-height: 1.2;
}
h2{
	font-weight: 600;
	font-size: 40px;
	line-height: 1.2;
}

h4{
	font-weight: 600;
	font-size: 28px;
	line-height: 1.2;
}

h5{
	font-weight: 600;
	font-size: 24px;
	line-height: 1.2;
}

h6{
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--g4);
	opacity: 1; /* Firefox */
 }
 :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: var(--g4);
 }
 ::-ms-input-placeholder { /* Microsoft Edge */
	color: var(--g4);
 }

 .title{
	 text-align: center;
	 margin-bottom: var(--p-lg);
 }

 .btn{
	 display: block;
	 text-align: center;
	 font-size: 20px;
	 line-height: 1.5;
	 font-weight: 700;
	 color: var(--w);
	 background-color: var(--prim);
	 padding: var(--p-md);
 }

.container{
	max-width: 1300px;
	padding: 0 var(--p-lg);
	margin: 0 auto;
}

.header{
	padding-top: 40px;
	background: linear-gradient(to right, #F9F1E7 0%, #F9F1E7 60%, #FCF8F3 60%, #FCF8F3 100%);
	background-size: cover;
	overflow-x: hidden;
	margin-bottom: 110px;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 56px;
}

.navbar-left{
	display: flex;
	align-items: center;
	width: 100%;
}

.logo{
	height: 19px;
	margin-right: var(--p-lg);
}

.menu-list{
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

.menu{
	flex-shrink: 0;
}

.menu-item{
	margin-right: var(--p-lg);
}

.menu-dropdown{
	position: relative;
	padding-right: 20px;
}

.menu-dropdown::after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 14px;
	height: 8px;
	background-image: url('../img/dropdown-arrow.svg');
	background-repeat: no-repeat;
	background-size: 14px 8px;
	transform: translateY(-50%);
}

.navbar-search-box{
	position: relative;
	margin-right: var(--p-lg);
	flex-basis: 473px;
}

.navbar-search-box span{
	position: absolute;
	top: 50%;
	left: 12px;
	z-index: 0;
	font-size: 20px;
	transform: translateY(-50%);
}

.navbar-search{
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	border: none;
	color: var(--g2);
	padding: 12px 18px 12px 44px;
	width: 100%;
}

.navbar-right{
	display: flex;
	align-items: center;
}

.favorite-link,
.cart-link{
	margin-right: var(--p-lg);
}

.navbar-right span{
	display: block;
	height: 24px;
	color: #262F56;
}

.user-avatar{
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #000;
}

.header-content{
	position: relative;
	padding-bottom: 80px;
}

.header-card{
	width: 40%;
	padding: 60px;
	background-color: rgba(255, 255, 255, 0.72);
	backdrop-filter: blur(7px);
	position: relative;
	z-index: 1;
}

.header-card h1{
	font-size: 35px;
	margin-bottom: 16px;
}

.header-card h6{
	color: var(--g3);
	margin-bottom: 48px;
}

.header-slider-image{
	width: 100%;
	height: auto;
	padding-left: 20%;
	position: absolute;
	bottom: 0;
	top: 80px;
}

.slider-image-track{
	overflow: visible;
	height: 100%;
}

.slider-image-list{
	display: flex;
	height: 100%;
}

.slider-image-item{
	width: 100%;
	height: auto;
	margin-left: var(--p-lg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}

.header-slider-text{
	position: absolute;
	right: 40px;
	bottom: 40px;
	backdrop-filter: blur(7px);
}

.slider-text-item{
	background-color: rgba(255, 255, 255, 0.72);
	padding: var(--p-md);
	max-width: 350px;
	position: relative;
}

.slider-text-item h4{
	margin-bottom: 4px;
}

.slider-text-item p{
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 8px;
	color: var(--g2);
}

.slider-text-item span{
	position: absolute;
	bottom: 24px;
	right: 24px;
}

.slider-text-item.is-active{
	border-color: transparent;
}

.header-arrows{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-arrow{
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: var(--prim);
	opacity: 1;
	top: -80px;
	transform: translateY(0%);
}

.header-arrow span{
	color: #fff;
	margin-right: 3px;
}

.header-arrow-prev{
	left: 0;
	margin-right: var(--p-sm);
	
}

.header-arrow-next{
	right: 0;
	transform: rotate(180deg);
}

.header-pagination{
	width: auto;
	top: -69px;
	bottom: auto;
	left: calc(40% + 32px);
	transform: translateX(0%);
	padding: 8px;
}

.header-pagination li{
	line-height: 0;
}

.header-pagination-dot{
	display: block;
	width: 10px;
	height: 10px;
	background: var(--g5);
	opacity: 1;
	margin: 0 20px 20px 0;
}

.header-pagination-dot.is-active{
	transform: none;
	background: var(--prim);
	position: relative;
}

.header-pagination-dot.is-active::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 26px;
	height: 26px;
	border: 1px solid var(--prim);
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.advantages{
	margin-bottom: 60px;
}

.advantages-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.advantages-item{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 30px;
}

.advantages-image{
	margin: var(--p-sm);
}

.advantages-title{
	font-weight: 700;
	font-size: 18px;
	line-height: 1.5;
	color: var(--g1);
}

.advantages-subtitle{
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: var(--g3);
}

.products{
	margin-bottom: 44px;
}

.products-items{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
	grid-gap: var(--p-lg);
	margin-bottom: 32px;
}

.products-item{
	background-color: var(--g-bg);
	position: relative;
	overflow: hidden;
}

.products-item-image{
	min-height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.products-item-badges{
	position: absolute;
	top: 24px;
	right: 24px;
	display: flex;
}

.products-item-badge{
	display: flex;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: var(--acc2);
	color: var(--w);
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1;
	font-weight: 700;
	margin-left: -5px;
}

.products-item-badge--text{
	background-color: var(--acc1);
}

.products-item-badge p{
	margin: auto;
}

.product-item-content{
	padding: 16px 16px 14px 16px;
}

.products-item-title{
	margin-bottom: 4px;
}

.products-item-text{
	margin-bottom: 8px;
	font-weight: 500;
	color: var(--g3);
}

.products-item-price{
	font-size: 20px;
	line-height: 1.5;
	font-weight: 700;
	display: flex;
}

.products-item-price span{
	margin: auto 0 auto 10px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--g4);
	text-decoration: line-through;
}

.products-item-popup{
	position: absolute;
	background-color: rgba(58, 58, 58, .72);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: grid;
	grid-template: repeat(2, auto) / 1fr 1fr;
	padding: 0 var(--p-lg);
	place-content: center;
}

.products-item-popup button{
	font-family: inherit;
	line-height: inherit;
	font-weight: 700;
	border: none;
	cursor: pointer;
}

.products-item-to-cart{
	padding: 18px 0;
	color: var(--prim);
	background-color: var(--w);
	grid-column: span 2;
	grid-row: span 1;
	font-size: 16px;
	transition: all .2s ease-in-out;
}

.products-item-to-cart:hover{
	background-color: var(--prim);
	color: var(--w);
}

.products-item-action{
	font-size: 14px;
	color: var(--w);
	background-color: transparent;
	position: relative;
	padding: 42px 0 8px;
	transition: all .2s ease-in-out;
}

.products-item-action:hover{
	background-color: var(--prim);
}

.products-item-share::before,
.products-item-like::before{
	content: "";
	width: 24px;
	height: 24px;
	position: absolute;
	top: 14px;
	left: 50%;
	transform: translateX(-50%);
	background-repeat: no-repeat;
	background-position: center;
}

.products-item-share::before{
	background-image: url('../img/share.svg');
}

.products-item-like::before{
	background-image: url('../img/like.svg');
}

.products-btn{
	display: block;
	border: 1px solid var(--prim);
	padding: 12px 80px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	color: var(--prim);
	background-color: transparent;
	margin: 0 auto;
}

.inspiration{
	background-color: #FCF8F3;
	padding-top: 44px;
	padding-bottom: 44px;
	overflow: hidden;
}

.inspiration-inner{
	display: flex;
	flex-wrap: wrap;
	min-height: 600px;
}

.inspiration-content{
	flex: 0 1 33.333%;
	margin-right: 24px;
	position: relative;
	z-index: 1;
	background-color: #FCF8F3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.inspiration-slider{
	flex: 0 1 33.333%;
	overflow: visible;
}

.inspiration-title{
	margin-bottom: 8px;
}

.inspiration-text{
	margin-bottom: 24px;
	font-weight: 500;
	color: var(--g3);
}

.inspiration-btn{
	color: var(--w);
	background-color: var(--prim);
	padding: 12px 40px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	margin-right: auto;
	text-align: center;
}

.inspiration-slider-items{
	counter-reset: li;
	height: 100%;
	width: 100%;
}

.inspiration-slider-item{
	height: calc(100% - 80px);
	width: 100%;
	min-height: 384px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	counter-increment: li;
	margin-right: 24px;
	transition: height .5s;
}


.inspiration-slider-item.uk-active{
	height: 100%;
}

.inspiration-slider-item .item-inner{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	align-content: flex-end;
	flex-wrap: wrap;
	padding: 24px;
	opacity: 0;
	transition: opacity .5s;
}

.inspiration-slider-item.uk-active .item-inner{
	opacity: 1;
}

.inspiration-slider-item .item-text{
	flex: 1 0 calc(100% - 48px);
	padding: 32px;
	background-color: rgba(255, 255, 255, 0.72);
}

.inspiration-slider-item .item-text > p{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: var(--g2);
	margin-bottom: 8px;
}

.inspiration-slider-item .item-text > p::before{
	content: "0"counter(li);
}

.inspiration-slider-item .item-text > p:nth-child(n+10):before{
	content: counter(li);
}

.inspiration-slider-item .item-text > p > span{
	position: relative;
	padding-left: 35px;
	margin-left: 8px;
}

.inspiration-slider-item .item-text > p > span::before{
	content: "";
	width: 27px;
	height: 1px;
	background-color: var(--g2);
	position: absolute;
	left: 0;
	top: 49%;
}

.inspiration-slider-item .item-link{
	display: flex;
	padding: 12px;
	background-color: var(--prim);
}

.inspiration-slider-item .item-link span{
	color: var(--w);
}