:root{
	--c-d-800: #2B363B;
	--c-d-600: #576B75;
	--c-d-400: #8A9EA8;
	--c-d-200: #C4CFD4;
	--c-d-100: #E2E7E9;
	--c-d-50: #F0F3F4;
	--c-pri: #FAB938;
}

*,*::before,*::after{
	box-sizing: border-box;
}
html,body{
	margin: 0;
	padding: 0;
	color: var(--c-d-800);
}

ol,ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
h2{
	font-size: 36px;
	font-weight: bold;
	line-height: 1.1;
}
h3{
	font-size: 24px;
	font-weight: bold;
	line-height: 1.1;
}
a,a:hover{
	color: inherit;
	text-decoration: none;
}

body{
	display: grid;
	grid-template-columns: 256px 1fr;
	gap: 32px;
	padding: 32px;
}

/* section header */

header{
	grid-column: span 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	margin-right: auto;
}
.header-phone{
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.4;
	text-decoration: none;
	color: var(--c-d-800);
	margin-left: 24px;
}
.header-phone span{
	font-weight: normal;
	color: var(--c-d-400);
}

/* aside */

aside{
	grid-column: 1 / 2;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.copy{
	color: var(--c-d-200);
}
.copy a{
	text-decoration: underline;
}
.copy a:hover{
	color: var(--c-d-800);
}
nav{
	border: 1px solid var(--c-d-200);
	border-radius: 5px;
}
.nav-item{
	border-bottom: 1px solid var(--c-d-200);
}
.nav-item:last-child{
	border-bottom: none;
}
.nav-item:first-child>a{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.nav-item:last-child>a{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.nav-link{
	display: block;
	padding: 16px;
	color: var(--c-d-800);
	background-color: var(--c-d-100);
	text-decoration: none;
}
.nav-link:hover{
	color: var(--c-d-400);
	background-color: #fff;
}

.submenu{
	position: relative;
}
.submenu::after{
	content: "";
	position: absolute;
	top: 50%;
	right: 16px;
	width: 5px;
	height: 8px;
	background-image: url('../img/submenu-arrow.svg');
	background-repeat: no-repeat;
	background-position: center;
	transform: translateY(-50%);
}
.submenu-list{
	position: absolute;
	top: -1px;
	left: calc(100% + 1px);
	width: 100%;
	display: none;
	background-color: #fff;
	opacity: 0;
	box-shadow: 0px 5px 15px -5px var(--c-d-400);
	padding-top: 8px;
	padding-bottom: 8px;
	z-index: 1;
	border-radius: 5px;
}
.nav-item.submenu:hover>.submenu-list{
	display: block;
	opacity: 1;
}
.nav-item.submenu:hover>.nav-link{
	color: var(--c-d-400);
	background-color: #fff;
}
.submenu-link{
	display: block;
	color: var(--c-d-800);
	text-decoration: none;
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.submenu-link:hover{
	color: var(--c-d-400);
}
.submenu-list>li>ul>li>a{
	margin-left: 16px;
}

main{
	grid-column: 2 / 3;
}

/* baner */
.baner{
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 32px;
}
.baner-title{
	color: var(--c-d-600);
	background-color: #fff;
	padding: 8px;
	margin: 0 32px;
	max-width: 600px;
	border-radius: 3px;
}
.baner-dots{
	position: absolute;
	bottom: 32px;
	left: 32px;
}
.baner-dots>li>a{
	border: none;
	background-color: rgba(255, 255, 255, .5);
}
.baner-dots>li>a:hover{
	background-color: rgba(255, 255, 255, 1);
}
.baner-dots>li.uk-active>a{
	background-color: var(--c-pri);
}
/* section products */

.products>ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
	margin-right: -32px;
}
.products>ul>li{
	flex: 1 1;
	flex-basis: 300px;
	padding: 32px;
	margin-right: 32px;
	margin-bottom: 32px;
	background-color: #E2E7E9;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	z-index: 0;
	overflow: hidden;
}
.products>ul>li>h3{
	padding-bottom: 80px;
}
.arrow{
	height: 32px;
	margin-top: auto;
}
.item-bg{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	min-width: 300px;
	background-repeat: no-repeat !important;
	background-position: center right !important;
	background-size: cover !important;
	z-index: -1;
}