:root{
	--black: #222831;
	--gray1: #9A9A9A;
	--gray2: #C4C4C4;
	--gray3: #DFDFDF;
	--gray4: #F8F8F8;
	--primary: #10375C;
	--primary120: #0D2C4A;
	--secondary: #FF5722;
	--secondary120: #DD2C00;
	--dim-sm: 20px;
	--dim-md: 30px;
	--dim-lg: 60px;
	--basic-transition: all .2s;
}
*,*::before,*::after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: var(--black);
	transition: var(--basic-transition);
}
ol,ul,li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Lora', serif;
	margin: 0;
	padding: 0;
	color: var(--primary);
}
h1{
	font-size: 52px;
	font-weight: 900;
	line-height: 67px; 
}
h2{
	font-size: 40px;
	font-weight: 900;
	line-height: 51px; 
}
h3{
	font-size: 32px;
	font-weight: 400;
	line-height: 41px; 
}
h4{
	font-size: 26px;
	font-weight: 400;
	line-height: 33px; 
}
h5{
	font-size: 24px;
	font-weight: 400;
	line-height: 31px; 
}
h6{
	font-size: 22px;
	font-weight: 400;
	line-height: 28px; 
}
p{
	margin: 0;
	padding: 0;
}
a,a:hover{
	text-decoration: none;
	color: inherit;
}

.container{
	max-width: 1170px;
	padding: 0 30px;
	margin: 0 auto;
}
.sup-title{
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	color: var(--black);
	padding-right: 85px;
	margin-bottom: 8px;
	position: relative;
}
.sup-title::after{
	content: "";
	width: 70px;
	height: 2px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--black);
}
.btn{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: .05em;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: var(--secondary);
	border: 0;
	padding: 13px;
	transition: var(--basic-transition);
	cursor: pointer;
}
.btn:hover{
	background-color: var(--secondary120);
}

.header{
	margin-top: var(--dim-lg);
	margin-bottom: var(--dim-lg);
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.logo{
	min-width: 86px;
}
.header__nav{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.header__nav-item+.header__nav-item{
	margin-left: var(--dim-md);
}
.header__nav-link{
	font-weight: 400;
	line-height: 28px;
	transition: var(--basic-transition);
}
.header__nav-link:hover{
	color: var(--secondary);
}
.header__account a+a{
	margin-left: var(--dim-md);
}
.header__account-login{
	color: var(--secondary);
	transition: var(--basic-transition);
}
.header__account-login:hover{
	color: var(--secondary120);
}
.header__account-signup{
	color: #fff;
	background-color: var(--secondary);
	padding: 10px 24px 12px;
	transition: var(--basic-transition);
}
.header__account-signup:hover{
	color: #fff;
	background-color: var(--secondary120);
}

.hero__content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: var(--dim-md);
}
.hero__content-title{
	max-width: 667px;
}
.hero__content-title span{
	color: var(--secondary120);
}
.hero__content-text{
	max-width: 382px;
	font-size: 20px;
	line-height: 30px;
	margin-top: 48px;
	color: #6a6a6a;
}
.hero__search{
	position: relative;
	padding: var(--dim-lg) 0;
}
.hero__form{
	max-width: 445px;
	padding: 40px;
	background-color: var(--primary);
}
.hero__form-title{
	font-weight: 600;
	color: #fff;
	margin-bottom: 30px;
}
.hero__form-label{
	display: flex;
	flex-direction: column;
	padding: 8px 16px 11px;
	color: #fff;
	background-color: var(--primary120);
}
.hero__form-label span{
	opacity: .35;
}
.hero__form-label+.hero__form-label,
.hero__form-label+button{
	margin-top: 17px;
}
.hero__form-input{
	border: 0;
	background-color: transparent;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #fff;
	margin-left: -4px;
}
input.hero__form-input{
	margin-left: 0;
	padding: 0;
}
input.hero__form-input::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
.hero>.hero__search>.hero__form button{
	width: 100%;
}
.hero__search-slideshow{
	position: absolute;
	top: 50%;
	left: 315px;
	right: 0;
	z-index: -1;
	transform: translateY(-50%);
	height: 100%;
	background-color: var(--gray1);
}