:root{
	--c-pri:rgba(3,81,193,1);
	--c-sec:rgba(255,122,47,1);
	--c-gray-drk:rgba(17,24,39,1);
	--c-gray-med:rgba(107,114,127,1);
	--c-gray-med-lgt:rgba(156,163,175,1);
	--c-gray-lgt:rgba(229,231,235,1);
	--spc: 32px;
}

*, html{
	padding: 0;
	margin: 0;
	list-style: none;
}

body{
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	line-height: 1.4;
	font-weight: 400;
	color: var(--c-gray-med);
}

h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
	color: var(--c-gray-drk);
}

p{
	padding: 0;
	margin: 0;
}

h2{
	font-size: 48px;
	line-height: 1;
	font-weight: 800;
}

h3{
	font-size: 36px;
	font-weight: 800;
	line-height: 1.1;
}

h4{
	font-size: 24px;
	line-height: 1;
	font-weight: 800;
}

h5{
	font-size: 21px;
	font-weight: 600;
	line-height: 1.1;
}

h6{
	font-size: 18px;
	font-weight: 600;
	line-height: 1.1;
}

a, a:hover{
	display: block;
	text-decoration: none;
	color: inherit;
}

ol,ul,li{
	padding: 0;
	margin: 0;
}

button{
	border: none;
	background-color: transparent;
	text-align: left;
	display: block;
}

.btn-primary{
	font-size: 18px;
	font-weight: 600;
	padding: 18px 20px;
	color: #fff;
	background-color: var(--c-sec);
	border-radius: calc(var(--spc) / 4);
	cursor: pointer;
	transition: all .2s;
}

.btn-primary:hover{
	background-color: var(--c-pri);
}

.container{
	max-width: 1280px;
	padding: 0 var(--spc);
	margin: 0 auto;
}

.transparent-pixel{
	width: 1px;
	height: 1px;
	margin-left: auto;
}

/* header */

header>div{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

header>div>ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
}

header>div>ul>li{
	margin-right: var(--spc);
}

header>div>ul>li>a{
	padding: var(--spc) 0;
	color: var(--c-gray-drk);
	transition: all .1s;
}

header>div>ul>li>a:hover{
	color: var(--c-gray-med);
}

.drop{
	position: relative;
	padding-right: 20px;
}

.drop::after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 10px;
	height: 6px;
	background-image: url('../img/drop-icon.svg');
	background-repeat: no-repeat;
	transform: translateY(-50%);
	transition: all .3s;
}

header>div>ul>li>ul{
	border-radius: calc(var(--spc) / 4);
	background-color: var(--c-gray-lgt);
	position: absolute;
	z-index: 1;
	overflow: hidden;
	top: 80%;
	left: 0;
	height: 0;
	max-width: 256px;
	opacity: 0;
	transition: all .2s;
}

.drop:hover ul{
	height: auto;
	opacity: 1;
}

.drop:hover>a{
	color: var(--c-gray-med);
}

.drop:hover::after{
	transform: rotate(-180deg) translateY(50%);
}

header>div>ul>li>ul>li>a{
	padding: calc(var(--spc) / 2);
	border-radius: calc(var(--spc) / 4);
	transition: all .2s;
}

header>div>ul>li>ul>li>a:hover{
	background-color: var(--c-gray-med-lgt);
	color: #fff;
}

header>div>button{
	position: relative;
	padding: calc(var(--spc) / 2) 0 calc(var(--spc) / 2) 37px;
	cursor: pointer;
	color: var(--c-sec);
	font-weight: 600;
	transition: all .2s;
}

header>div>button:hover{
	color: var(--c-pri);
}

header>div>button::before{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	height: 20px;
	background-image: url(../img/user-add.svg);
}

/* hero section */

.hero{
	position: relative;
	margin-bottom: calc(var(--spc) * 2);
}

.hero-content{
	padding: calc(var(--spc) * 2) 0;
	display: flex;
	align-items: center;
}

.hero-info{
	padding-right: calc(var(--spc) * 2);
}

.hero-info>h2{
	margin-bottom: var(--spc);
	color: #fff;
}

.hero-info>p{
	margin-bottom: var(--spc);
	font-size: 21px;
	color: #fff;
}

.hero-logo{
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #fff;
}

.hero-slideshow{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: -1;
}

.hero-slideshow-items{
	height: 100%;
}

.hero-slideshow-item{
	height: 100%;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
}

/* courses section */

.courses{
	margin-bottom: calc(var(--spc) * 2);
}

.courses-items{
	display: flex;
	flex-wrap: wrap;
	margin: -32px -32px 0 0;
	justify-content: center;
}

.courses-item{
	flex: 290px;
	margin: var(--spc) var(--spc) 0 0;
	border: 1px solid var(--c-gray-lgt);
	border-radius: 8px;
	overflow: hidden;
}

.courses-item>a{
	padding: var(--spc);
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.courses-item>a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--c-gray-lgt);
	z-index: -1;
	opacity: 0;
	transform-origin: left;
	transform: scaleX(0);
	transition: all .2s;
}

.courses-item>a:hover::before{
	opacity: 1;
	transform: scaleX(1);
}

.courses-suptitle{
	font-size: 12px;
	font-weight: 400;
	line-height: 1.4;	
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 9px;
	color: var(--c-sec);
}

.courses-title{
	padding-bottom: 80px;
	margin-bottom: auto;
	transition: all .2s;
}

.courses-item>a:hover .courses-title{
	color: var(--c-pri);
}

.courses-item img{
	display: block;
	margin-left: auto;
	align-self: flex-end;
}

/* advantages section */

.advantages{
	text-align: center;
	background-color: var(--c-gray-lgt);
	padding: calc(var(--spc) * 2) 0;
}

.advantages-suptitle{
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--c-sec);
	margin-bottom: calc(var(--spc) / 2);
}

.advantages-title{
	margin: 0 auto;
	max-width: 800px;
	margin-bottom: calc(var(--spc) * 2);
}

.advantages-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.advantages-item{
	flex: 480px;
	max-width: 480px;
	padding: 0 calc(var(--spc) / 2);
	margin-bottom: calc(var(--spc) * 2);
}

.advantages-item-image{
	margin: 0 auto var(--spc);
	width: 96px;
	height: 96px;
	box-shadow: 0px 5px 10px -5px rgba(17, 24, 39, 0.25);
	border-radius: 15px;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.advantages-item-title{
	margin-bottom: calc(var(--spc) / 2);
}

.advantages button{
	margin: 0 auto;
}

/* footer */

footer{
	padding: calc(var(--spc) * 2) 0 var(--spc);
}

.footer-inner{
	display: flex;
	flex-wrap: wrap;
}

.footer-left{
	flex: 1 1 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: var(--spc);
	padding-right: var(--spc);
}

.footer-left img{
	max-width: 177px;
	margin-bottom: var(--spc);
}

.footer-copyright{
	color: var(--c-gray-med-lgt);
}

.footer-right{
	flex: 10 1 300px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-right-item{
	margin-bottom: var(--spc);
	padding-right: var(--spc);
}

.footer-right-item-title{
	margin-bottom: calc(var(--spc) / 2);
}

.footer-right>li>ul>li+li{
	margin-top: 11px;
}

.footer-right-item-link{
	display: inline;
	border-bottom: 1px solid var(--c-gray-lgt);
	transition: all .2s;
}

.footer-right-item-link:hover{
	display: inline;
	border-bottom-color: var(--c-sec);
}